<div class="container">

	<!-- Partners -->
	<div class="row team-grid">

		<div class="col-sm-2 grid-item">
			<div class="team-category">
				<p>Partners</p>
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<a href="/people-detail/index">
				<div class="team-partner">
					<p class="team-name">N. Andrew Crain</p>
					<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
				</div>
			</a>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

	</div>

	<!-- Associates -->
	<div class="row team-grid">

		<div class="col-sm-2 grid-item">
			<div class="team-category">
				<p>Associates</p>
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>
		
		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

	</div>

	<!-- Counsel -->
	<div class="row team-grid">

		<div class="col-sm-2 grid-item">
			<div class="team-category">
				<p>Of Counsel Attorneys</p>
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>
		
		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>
		
	</div>

	<!-- Patent Agents -->
	<div class="row team-grid">

		<div class="col-sm-2 grid-item">
			<div class="team-category">
				<p>Patent Agents</p>
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>
		
		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>
		
	</div>

</div>