<div class="container" id="team-grid">

	<p class="h4 txt-white uppercase">filter</p>
	<div class="people-filter">
		<ul>
			<li class="fa fa-arrow-right txt-white"></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">TITLE
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">All</a></li>
						<li><a href="#">Partners</a></li>
						<li><a href="#">Associates</a></li>
						<li><a href="#">Of Councel</a></li>
						<li><a href="#">Patent Agents</a></li>
					</ul>
				</a>
			</li>
			<li class="fa fa-arrow-right txt-white"></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					INDUSTRIES
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Electrical/Computer</a></li>
						<li><a href="#">Biotechnology</a></li>
						<li><a href="#">Mechanical</a></li>
						<li><a href="#">Chemistry</a></li>
					</ul>
				</a>
			</li>
			<li class="fa fa-arrow-right txt-white"></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					PRACTICE AREAS
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Copyright</a></li>
						<li><a href="#">Patent</a></li>
						<li><a href="#">Trademark</a></li>
						<li><a href="#">Litigation</a></li>
					</ul>
				</a>
			</li>
		</ul>

	</div>


	<!-- Partners -->
	<div class="row team-grid">

		<div class="col-sm-2 grid-item">
			<div class="team-category">
				<p>Partners</p>
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<a href="/people-detail/index">
				<div class="team-partner electrical mechanical bio chemistry">
					<p class="team-name">N. Andrew Crain</p>
					<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
					<div class="icon-overlay"></div>
				</div>
			</a>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

	</div>

	<div class="row team-grid">
		<div class="col-sm-2 grid-item">
			<a href="/people-detail/index">
				<div class="team-partner">
					<p class="team-name">N. Andrew Crain</p>
					<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
				</div>
			</a>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>
	</div>

	<!-- Associates -->
	<div class="row team-grid">

		<div class="col-sm-2 grid-item">
			<div class="team-category">
				<p>Associates</p>
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-associate">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-associate">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-associate">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-associate">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>
		
		<div class="col-sm-2 grid-item">
			<div class="team-associate">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

	</div>

	<div class="row team-grid">

		<div class="col-sm-2 grid-item">
			<div class="team-associate">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-associate">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-associate">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-associate">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-associate">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>
		
		<div class="col-sm-2 grid-item">
			<div class="team-associate">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

	</div>

	<!-- Counsel -->
	<div class="row team-grid">

		<div class="col-sm-2 grid-item">
			<div class="team-category">
				<p>Of Counsel Attorneys</p>
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-counsel">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-counsel">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-counsel">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-counsel">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>
		
		<div class="col-sm-2 grid-item">
			<div class="team-counsel">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>
		
	</div>

	<div class="row team-grid">

		<div class="col-sm-2 grid-item">
			<div class="team-counsel">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-counsel">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-counsel">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-counsel">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-counsel">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>
		
		<div class="col-sm-2 grid-item">
			<div class="team-counsel">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>
		
	</div>

	<!-- Patent Agents -->
	<div class="row team-grid">

		<div class="col-sm-2 grid-item">
			<div class="team-category">
				<p>Patent Agents</p>
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-patent">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-patent">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-patent">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-patent">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>
		
		<div class="col-sm-2 grid-item">
			<div class="team-patent">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>
		
	</div>

	<div class="row team-grid">

		<div class="col-sm-2 grid-item">
			<div class="team-patent">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-patent">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-patent">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-patent">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-patent">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>
		
		<div class="col-sm-2 grid-item">
			<div class="team-patent">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>
		
	</div>

</div>