<div class="container">

	<!-- Partners -->
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-2 grid-item">
				<a href="#">
					<div class="team-partner">
						<p class="team-name">N. Andrew Crain</p>
						<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
					</div>
				</a>
			</div>

			<div class="col-sm-2 grid-item">
				<div class="team-partner">
					<p class="team-name">N. Andrew Crain</p>
					<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
				</div>
			</div>

			<div class="col-sm-2 grid-item">
				<div class="team-partner">
					<p class="team-name">N. Andrew Crain</p>
					<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
				</div>
			</div>

			<div class="col-sm-2 grid-item">
				<div class="team-partner">
					<p class="team-name">N. Andrew Crain</p>
					<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
				</div>
			</div>

			<div class="col-sm-2 grid-item">
				<div class="team-partner">
					<p class="team-name">N. Andrew Crain</p>
					<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
				</div>
			</div>
		</div>
	</div>

	<!-- Partners Row II-->
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-2 grid-item">
				<div class="team-partner">
					<p class="team-name">N. Andrew Crain</p>
					<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
				</div>
			</div>

			<div class="col-sm-2 grid-item">
				<div class="team-partner">
					<p class="team-name">N. Andrew Crain</p>
					<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
				</div>
			</div>

			<div class="col-sm-2 grid-item">
				<div class="team-partner">
					<p class="team-name">N. Andrew Crain</p>
					<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
				</div>
			</div>

			<div class="col-sm-2 grid-item">
				<div class="team-partner">
					<p class="team-name">N. Andrew Crain</p>
					<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
				</div>
			</div>

			<div class="col-sm-2 grid-item">
				<div class="team-partner">
					<p class="team-name">N. Andrew Crain</p>
					<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
				</div>
			</div>
		</div>
	</div>
</div>