<div class="container">

	<!-- Partners -->
	<div class="row team-grid">

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>
		
		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p class="team-name">N. Andrew Crain</p>
				<img class="team-image img-responsive" src="{{ "partner.jpg" | asset_url }}" />
			</div>
		</div>

	</div>

</div>